{% extends 'Quiz_App/base.html' %}

{% block title %}Quiz - {{ category.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="quiz-card card">
        <div class="center">
            <h2 class="question">{{ question.question_text }}</h2>
            <p class="small">Question {{ request.session.question_number|add:1 }} of {{ total_questions }}</p>
        </div>

        <form method="post" action="{% url 'quiz' category.id %}" class="mt-4">
            {% csrf_token %}
            <div class="options">
                {% for answer in question.answers.all %}
                <label class="option">
                    <input type="radio" name="answer" value="{{ answer.id }}">
                    <div>{{ answer.answer_text }}</div>
                </label>
                {% endfor %}
            </div>

            <div class="actions center mt-4">
                <button type="submit" class="btn">Next Question</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
